<nav class="bg-white shadow px-6 py-4 flex justify-between items-center">
    <div class="text-xl font-semibold text-gray-800">
        Cloudit
    </div>
    <div class="space-x-4 text-sm">
        <span class="text-gray-700">Hi, <%= user.username %></span>
        <a href="<%= filePath %>" class="text-blue-500 hover:underline">Upload File</a>
        <a href="<%= folderPath %>" class="text-blue-500 hover:underline">New Folder</a>
        <a href="/log-out" class="text-red-500 hover:underline">Log out</a>
    </div>
</nav>