<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update Folder</h1>

    <form action="<%= actionPath %>" method="POST">

        <div>
            <label for="name">Folder Name</label>
            <input id="name" name="name" placeholder="Folder Name" type="text" required />
            <% const nameError = errors?.find(e => e.path === 'name'); %>
            <% if (nameError) { %>
                <p class="text-red-600">
                    <%= nameError.msg %>
                </p>
            <% } %>
        </div>

        <div>
            <button type="submit">Update Folder</button>
        </div>
    </form>

    <a href="/library">Back to Library</a>
</body>
</html>